certifi==2024.2.2
    # via requests
charset-normalizer==3.3.2
    # via requests
exceptiongroup==1.2.0
    # via pytest
idna==3.6
    # via requests
iniconfig==2.0.0
    # via pytest
mock==5.1.0
    # via -r requirements.in
packaging==24.0
    # via pytest
pluggy==1.4.0
    # via pytest
pytest==8.1.1
    # via -r requirements.in
requests==2.31.0
    # via -r requirements.in
tomli==2.0.1
    # via pytest
urllib3==2.2.1
    # via requests
